.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(var(--cols),50px);
    grid-template-rows: repeat(var(--rows),50px);
    user-select: none;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.active{
    background-color: lightblue;
}